body{
    margin: 0;
    background-color: whitesmoke;
    
}

#title{
    margin-top: 10px;
    color: darkblue;
}

/* #Tcard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

} */

#card{
    /* display: flex; */
    /* flex-direction: column; */
    background-color: lightgray;
    margin: 20px 10px;
    margin-top: 5px;
    /* padding: 15px; */
    max-width: 420px    
}
#cardHeader{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: whitesmoke;
    font-size: xx-large;

}
#Cimg{
    max-width: 380px;
    height: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#Cap{
    margin-top: 20px;
    text-align: center;
    font-size: x-large;
}
#reg{
    text-align: center;
    font-size: x-large;
}
#conCode{
    text-align: center;
    font-size: x-large;
}
#lag{
    text-align: center;
    font-size: x-large;
}
#Wbtn{
    margin-top: 20px;
    margin-left: 120px;
    /* background-color: whitesmoke; */
    /* padding: 5px; */
    font-size: large;
}
#Cwet{
    text-align: center;
    margin-top: 20px;
    font-size: larger;
}