body{
    margin: 0;
    background-color: whitesmoke;
    
}

#head{
    text-align: center;
    margin-top: 10px;
    color: darkblue;
}

#Tcard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

#Scard{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    margin: 20px auto 10px auto;
    padding: 15px;
    width: 450px;
    
}
#Chead{
    text-align: center;
    padding: 10px;
    background-color: black;
    color: whitesmoke;

}
#Cimg{
    max-width: 380px;
    height: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#Cap{
    margin-top: 20px;
    text-align: center;
}
#reg{
    text-align: center;
}
#conCode{
    text-align: center;
}
#lag{
    text-align: center;
}
#Wbtn{
    margin-top: 20px;
    background-color: whitesmoke;
    padding: 5px;
    font-size: large;
}
#Cwet{
    text-align: center;
    margin-top: 20px;
}